*{box-sizing:border-box}
body{
  margin:0;
  font-family:Arial;
  background:#05080f;
  color:#fff;
}

.bg3d{
  position:fixed;
  inset:0;
  background:radial-gradient(circle,#00ff9c33,transparent);
  z-index:-1;
}

.navbar{
  padding:20px;
  display:flex;
  justify-content:space-between;
}

.connect-btn{
  padding:12px 26px;
  border-radius:30px;
  border:none;
  background:linear-gradient(145deg,#00ff9c,#00cfff);
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 0 20px #00ff9c;
}

.card{
  margin:40px auto;
  padding:30px;
  max-width:420px;
  background:rgba(20,30,45,.9);
  border-radius:24px;
}
input,select,button{
  width:100%;
  margin-top:12px;
  padding:12px;
  border-radius:12px;
  border:none;
}
