body{
 background:#05080f;
 color:#fff;
 font-family:Arial;
 text-align:center;
 padding:40px;
}
button{
 padding:14px 28px;
 border:none;
 border-radius:20px;
 background:#00ff9c;
 margin:10px;
 cursor:pointer;
}
